:root {
    --blue: blue;
    --white: white;
  }
  
  
  .Navbar.light {
      --background-color: var(--white)
      --text-color: var(--blue)
  }
  
  .Navbar.dark {
    --background-color: var(--blue)
    --text-color: var(--white)
  }